<% @title="Registration Page"%>

<%= form_for(@user, :url=>{:action => :post_register}) do |f| %>
	
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<%end%>
		</ul>
	<%end%>
	<p>
    <%= f.label :first_name,"FirstName" %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name, "LastName" %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<div class="actions">
  	  <%= f.submit %>
 	 </div>
<% end %>
